# Dependencies
node_modules/

# Environment variables
.env

# Uploads folder (if you want to ignore local uploads)
uploads/

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Local development
.vercel
